body {

}

main section{
    margin-right: 200px;
    width: 800px;
}

main section p , main section h2 , main section li{
    font-size: 24px;
}

main section p , main section h2{
    margin-top: 25px;
}

main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 24px;
}