/*Fonts*/

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/Rubik-VariableFont_wght.eot');
    src: url('../fonts/Rubik-VariableFont_wght.eot?#iefix') format('embedded-opentype') , url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik Medium';
    src: url("../fonts/Variants/Rubik-Medium.eot");
    src: url("../fonts/Variants/Rubik-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Variants/Rubik-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik Light';
    src: url("../fonts/Variants/Rubik-Light.eot");
    src: url("../fonts/Variants/Rubik-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Variants/Rubik-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik Bold';
    src: url("../fonts/Variants/Rubik-Bold.eot");
    src: url("../fonts/Variants/Rubik-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Variants/Rubik-Bold.ttf") format('truetype');
}

@font-face{
    font-family: 'Rubik Black';
    src: url("../fonts/Variants/Rubik-Black.eot");
    src: url("../fonts/Variants/Rubik-Black.eot?#iefix") format('embedded-opentype') , url("../fonts/Variants/Rubik-Black.ttf") format('truetype');
}

/*Basic Settings*/

body {
    direction: rtl;
    background-image: url("../images/background.png");
}

#container {
    width: 1280px;    
    margin: 0 auto;
}

.notActive{
    cursor: not-allowed;
    color: grey;
}

h1,h2,h3,p,div,li,a{
    font-family: Rubik;
}

/*Top Toolbar*/
/*Note: for menu and search icon graphics, please look in the Icon category*/

#top_toolbar {
    display: block;
    position: relative;
    background-image: url("../images/general/top_toolbar.png");
    width: 1283px;
    height: 131px;
    margin: 0 auto;
}

    #top_toolbar nav {
        display: flex;
        position: relative;
        width: 200px;
        margin-top: 15px;
        float: right;
        align-items: center;
    }

/*Navigation: Skip to Content*/

    #toolbar_skiptocontent {
        display: inline-block;
        position: relative;
        float: right;
        width: 95px;
        height: 94px;
    }

#toolbar_skiptocontent a {
    position: relative;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

    #toolbar_skiptocontent a:focus, #toolbar_skiptocontent a:active {
        background-image: url("../images/general/skiptocontent.png");
        width: 95px;
        height: 94px;
        line-height: 2;
        font-size: 19px;
        overflow: visible;
    }

/*Signpost: logo, sitename, and slogan*/

#signpost{
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-right: 250px;
}

#toolbar_logo {
    position: relative;
    display: inline-block;
    background-image: url("../images/general/toolbar_logo.png");
    width: 79px;
    height: 90px;
}

#sitename {
    position: relative;
    display: inline-block;
    top: -20px;
    text-align: center;
    color: #315E1A;
}

#sitename a {
    font-family: 'Rubik Bold';
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
}

    #sitename a:visited {
        color: #315E1A;
    }

    #signpost p {
        font-family: Rubik Light;
        font-size: 21px;
    }

#top_toolbar #search_button {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 35px;
}

/*Breadcrumbs*/

#breadcrumbs {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

#breadcrumbs ol{
    margin-right: 110px;
}

#breadcrumbs li{
    display: inline;
    font-size: 21px;
}
#breadcrumbs li+li::before{
    content: ">";
}

/*Header*/

main h1{
    font-family: 'Rubik Bold';
    font-size: 44px;
}

/*Buttons*/

.button, .big_button, .arrow_button , .arrow_button_small{
    color: #315E1A;
    text-decoration: none;
    background-repeat: no-repeat;
}

/*Basic Button*/
.button {
    background-image: url("../images/general/button_notpressed.png");
    width: 213px;
    height: 54px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

    .button.active:hover, .button.active:focus {
        background-image: url("../images/general/button_pressed.png");
        color: #F5E467;
    }

/*Big Button*/
.big_button{
    background-image: url("../images/general/big_button_notpressed.png");
    width: 260px;
    height: 259px;
    text-align: center;
    display: inline-block;
}

    .big_button.active:hover , .big_button.active:focus{
        background-image: url("../images/general/big_button_pressed.png");
        color: #F5E467;
    }

/*Arrow*/

.arrow{
    background-image: url("../images/general/arrow_notpressed.png");
    display: block;
    width: 135px;
    height: 85px;
}

    .arrow:hover , .arrow:focus{
        background-image: url("../images/general/arrow_pressed.png");
    }

.arrow.left{
    transform: rotate(-90deg);
}

.arrow.right{
    transform: rotate(90deg);
}

.arrow.down{
    transform: rotate(180deg);
}

/*Arrow Button Big*/

.arrow_button{
    display: inline-block;
    background-image: url("../images/general/arrowbutton_big_notpressed.png");
    width: 248px;
    height: 67px;
    line-height: 2.3;
    font-size: 27px;
    text-indent: 30px;
}

    .arrow_button:hover, .arrow_button:focus {
        background-image: url("../images/general/arrowbutton_big_pressed.png");
        color: #F5E467;
    }

/*Small Arrow Button*/

.arrow_button_small {
    display: inline-block;
    background-image: url("../images/general/arrowbutton_small_notpressed.png");
    width: 209px;
    height: 57px;
    line-height: 2.3;
    font-size: 23px;
    text-indent: 20px;
    text-decoration: none;
}

    .arrow_button_small:hover, .arrow_button_small:focus {
        background-image: url("../images/general/arrowbutton_small_pressed.png");
        color: #F5E467;
    }

/*Social Icons*/
#facebook, #instagram, #whatsapp {
    width: 88px;
    height: 88px;
    display: block;
}
/*Facebook*/
#facebook {
    background-image: url("../images/general/icon_facebook_notpressed.png");
}

    #facebook:hover, #facebook:focus {
        background-image: url("../images/general/icon_facebook_pressed.png");
    }

/*Instagram*/
#instagram {
    background-image: url("../images/general/icon_instagram_notpressed.png");
}

    #instagram:hover, #instagram:focus {
        background-image: url("../images/general/icon_instagram_pressed.png");
    }

/*Whatsapp*/
#whatsapp {
    background-image: url("../images/general/icon_whatsapp_notpressed.png");
}

    #whatsapp:hover, #whatsapp:focus {
        background-image: url("../images/general/icon_whatsapp_pressed.png");
    }

/*Menu*/

/*Menu Button*/

#top_toolbar #menu_button {
    background: url("../images/general/menu_icon.png") no-repeat;
    width: 73px;
    height: 67px;
    border: none;
    margin-right: 15px;
}

    #top_toolbar #menu_button:hover, #top_toolbar #menu_button:active, #top_toolbar #menu_button:focus {
        background: url("../images/general/menu_icon_pressed.png") no-repeat;
    }

#menu_extended_corner #menu_exit_button{
    background: url("../images/general/x_notpressed.png");
    width: 62px;
    height: 62px;
    margin-bottom: 15px;
    border: none;
}

    #menu_extended_corner #menu_exit_button:hover, #menu_extended_corner #menu_exit_button:active, #menu_extended_corner #menu_exit_button:focus{
        background: url("../images/general/x_pressed.png");
    }

/*Search Button*/
#search_button {
    display: block;
    background-image: url("../images/general/search_icon.png");
    width: 46px;
    height: 57px;
}

#search_button:hover, #search_button:active, #search_button:focus {
    background-image: url("../images/general/search_icon_pressed.png");
}

.toolbar_button {
    position: relative;
    display: block;
    background: none;
}

#search_button2 {
    display: block;
    background-image: url("../images/general/search_icon.png");
    width: 46px;
    height: 57px;
}

    #search_button2:hover , #search_button2:focus, #search_button2:active {
        background-image: url("../images/general/search_icon_pressed.png");
    }

/*Extended Menu*/

#dummy_checkbox {
    display: none;
}

/*Background*/

#dummy_checkbox:checked ~ #menu_extended {
    position: fixed;
    display: flex;
    background: url("../images/menu.png") no-repeat;
    width: 1280px;
    height: 637px;
    z-index: 10;
}

#menu_extended > ul {
    position: absolute;
    width: 1px;
    height: 1px;
    display: none;
}

/*Corner*/

#menu_extended_corner{
    display: none;
}

#dummy_checkbox:checked ~ #menu_extended #menu_extended_corner {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/homepage/menu_background.png");
    width: 114px;
    height: 200px;
    float: right;
    margin-top: 15px;
    z-index: 99;
}

/*Categories*/

#dummy_checkbox:checked ~ #menu_extended > ul {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 637px;
    flex-wrap: wrap;
    margin-right: 7px;
    list-style: none;
}

    #dummy_checkbox:checked ~ #menu_extended > ul > li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 318px;
        height: 320px;
    }

        #dummy_checkbox:checked ~ #menu_extended > ul > li > div , #dummy_checkbox:checked ~ #menu_extended > ul > li > a {
            width: 250px;
            font-size: 38px;
            text-align: center;
            line-height: 1.0;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /*Link Lists*/

        #dummy_checkbox:checked ~ #menu_extended > ul > li > ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 318px;
            line-height: 1.5;
            font-size: 21px;
            list-style: none;
        }

        #dummy_checkbox:checked ~ #menu_extended > ul > li:hover > ul > li > a, #dummy_checkbox:checked ~ #menu_extended > ul > li:active > ul > li > a {
            opacity: 1;
        }

        #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a {
            display: block;
            width: 290px;
            text-align: center;
            justify-content: center;
            opacity: 0;
        }

            #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a:hover, #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a:focus, #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a:active {
                opacity: 1;
            }

            #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a.active:hover, #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a.active:focus, #dummy_checkbox:checked ~ #menu_extended > ul > li > ul > li > a.active:active {
                background-color: rgb(255, 255, 255, 0.4);
            }

#dummy_checkbox:checked ~ #menu_extended a.active , #dummy_checkbox:checked ~ #menu_extended a.active:visited {
    color: black;
    /*text-decoration: none;*/
}

/*Back to Menu Start*/

#back_to_menu_start {
    display: none;
}

#dummy_checkbox:checked ~ #menu_extended #back_to_menu_start {
    display: inline-flex;
    position: fixed;
    float: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    font-size: 21px;
    margin-right: 530px;
    margin-top: 300px;
}

#dummy_checkbox:checked ~ #menu_extended #back_to_menu_start:focus, #dummy_checkbox:checked ~ #menu_extended #back_to_menu_start:active {
    opacity: 1;
}

/*Miscellaneous*/

li.menu_gap { /*gaps inside link lists*/
    margin-top: 10px;
}

#menu_extended ul.menu_gap { /*gap between head link and link list*/
    margin-top: 38px;
}

a.menu_corner_gap {
    margin-right: 50px;
}

ul.menu_smaller_font li {
    font-size: 17px;
}

/*Aside*/

aside {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 24px;
}

aside.for_more {
    margin-right: 200px;
}

/*Footer*/

/*Footer Toolbar*/

#footer_toolbar{
    display: block;
    position: relative;
    background-image: url("../images/general/footer.png");
    width: 1285px;
    height: 282px;
}

    #footer_toolbar .footer_text{
        display: inline-block;
        position: relative;
        font-size: 24px;
        margin-top: 35px;
    }

    #footer_toolbar h3{
        font-family: 'Rubik Bold';
        font-size: 24px;
        margin-bottom: 10px;
    }

        #footer_toolbar .footer_text ul{
            list-style: none;
        }

#footer_left {
    float: left;
    margin-left: 100px;
}

#footer_right {
    float: right;
    margin-right: 100px;
}

.footer_links {
    display: inline-block;
    position: relative;
    float: left;
}

.footer_icon {
    display: block;
    margin-left: 25px;
    margin-top: 25px;
}